header {
    display: flex;
    //justify-content: flex-start;
    justify-content: center;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: navy;
    border: 5px solid rgb(200, 200, 253);
    border-style: inset;
    border-radius: 10px;
    height: 80px;

    button {
        //margin: auto;
        padding: 0 10px 0 10px;
        font-size: 18px;
        font-weight: 700;
        margin-top: 7px;
        font-style: italic;
        text-decoration: none;
        border-radius: 6px;
        border: 3px solid #fff;
        background-color: rgb(200, 200, 253);
        height: 45px;
        border-style: inset;
        width: 140px;
    }
    .add, 
    .register{
        margin-left: 10px;
    }
    .login {
    margin-left: 40%;
}
 
    a{
        text-decoration: none;
        color:navy;
    }
    button:hover{
        background-color: #fff;
    }


@media (max-width: 360px) {
    button {
        min-width: 65px;
        font-size: 13px;
        padding: 0;
    }
     .login {
     margin-left: 3%;
}
}
}