$bgColorElement: #fff;
$bgColorElement1:navy;
$bgColorBody: rgb(200, 200, 253);
$textColor: navy;
$textColor1:#fff;
$borderColor: navy;

div {
    display: flex;
    justify-content: center;
form {
    background-color: $bgColorElement;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0px;
    padding: 5px;
    border-radius: 4px;
    width: 400px;
    border: 3px solid rgb(220, 223, 252);
    //border-style: inset; //box-shadow: 10px 10px 20px 3px rgba(1, 1, 156, 0.781);
    box-shadow: 10px 10px 30px 5px #fff;
    margin-top: 150px;
    
    input {
        color: $textColor;
        border: 1px solid $borderColor;
        border-radius: 3px;
        line-height: 12px;
        padding: 10px 0px 10px 8px;
    }
    
    input:hover{
        background-color: rgba(179, 14, 179, 0.26);
    }

    input::placeholder {
        font-size: 18px;
        color: $textColor;
    }
    button {
        color: $textColor1;
        font-size: 18px;
        background-color: purple;
        border: none;
        border-radius: 3px;
        line-height: 18px;
        padding: 10px 30px;
    }
    button:hover {
        background-color: rgba(128, 0, 128, 0.349);
        color: $textColor;
    }
    a {
        color: blue;
        padding: 15px 30px;
        text-align: end;
        font-size: 20px;
        font-style: italic;
        font-weight: 600;
        text-decoration: underline;
    }
    }
    @media (max-height: 420px) {
    form {
        margin-top: 20px;
    }
}
}