
.page {
    max-width: 60em;
    margin: 0 auto;
    color: navy;

h1{
    display: flex;
    justify-content: center;
    margin: 40px;
    font-size: 28px;
    font-weight: 600;
    color: navy;
}
a {
    color: blue;
    font-style: italic;
    font-weight: 600;
}

thead{
    font-weight: 600;
}

table th,
table td {
    text-align: left;
}

table.layout {
    width: 100%;
    //border-collapse: collapse;
}

table.display {
    margin: 1em 0;
}

table.display th,
table.display td {
    border: 1px solid navy;
    padding: .5em 1em;
}

table.display th {
    background: rgb(200, 200, 253);
}

table.display td {
    background: #fff;
}

table.responsive-table {
    box-shadow: 5px 5px 10px 2px #fff;
}

@media (max-width: 30em) {
    table.responsive-table {
        box-shadow: none;
    }
    table.responsive-table thead {
        display: none;
    }
    table.display th,
    table.display td {
        padding: .5em;
    }
    table.responsive-table td:nth-child(1):before {
        content: 'Stock name';
    }
    table.responsive-table td:nth-child(2):before {
        content: 'Stock price';
    }
    table.responsive-table td:nth-child(3):before {
    content: 'Stock previous price';
    }
    table.responsive-table td:nth-child(4):before {
        content: 'Exchange name';
    }
    table.responsive-table td:nth-child(5):before {
        content: 'Like or Not';
    }

    table.responsive-table td:nth-child(1),
    table.responsive-table td:nth-child(2),
    table.responsive-table td:nth-child(3),
    table.responsive-table td:nth-child(4),
    table.responsive-table td:nth-child(5) {
        padding-left: 5%;
    }
    table.responsive-table td:nth-child(1):before,
    table.responsive-table td:nth-child(2):before,
    table.responsive-table td:nth-child(3):before,
    table.responsive-table td:nth-child(4):before,
    table.responsive-table td:nth-child(5):before {
        display: flex;
        align-items: left;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        //position: absolute;
        left: .5em;
        font-weight: bold;
    }
    table.responsive-table tr,
    table.responsive-table td {
        display: block;
    }
    table.responsive-table tr {
        position: relative;
        margin-bottom: 1em;
        box-shadow: 0 1px 10px rgba(1, 1, 156, 0.781);
    }
    table.responsive-table td {
        border-top: none;
    }
    table.responsive-table td.name {
        background: rgb(200, 200, 253);
        border-top: 1px solid rgb(168, 168, 250);
    }
    table.responsive-table td.actions {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background: none;
    }
}  
}