<div class="page">
    <h1>Stock exchange!</h1>
    <table class="layout display responsive-table">
        <thead>
            <tr>
                <th>Stock name</th>
                <th>Stock price</th>
                <th>Stock previuos price</th>
                <th>Exchange name</th>
                <th colspan="2">Is favorite</th>
            </tr>
        </thead>
        <ng-container *ngFor="let stock of stocks">
            <tbody>

                <tr>
                    <td class="name">{{stock.name}}</td>
                    <td>{{stock.price}}</td>
                    <td>{{stock.previousPrice}}</td>
                    <td>{{stock.exchange}}</td>
                    <td>{{stock.favorite}}</td>
                    <td class="actions" colspan="2">
                        <a [routerLink]="['/stock', stock.code]" class="edit-item" title="Edit">Edit</a>
                    </td>
                </tr>
            </tbody>
        </ng-container>
    </table>
</div>